.bg-dark{
  background-color: #4d7198!important;
}

header {
    padding: 90px 0 100px;
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
}

img {
    margin-bottom: 20px;
}

body {
    font-family: "Sofia";
}

.btn-custom {
    background-color: #4d7198!important;
    border-color: rgba(255,255,255,.5);
    color:rgba(255,255,255,.5);
    font-weight: bold;
}

.btn:hover {
   border-color: white;
   color: white;
}

section {
    padding: 50px 0;
}

.invisible-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

.social-links {
  text-align: center;
}
